@import url("http://fonts.cdnfonts.com/css/minecraft-4");
.header-component {
  text-align: center;
  font-family: "Minecraft", sans-serif;
  height: 100px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px;

  &__font {
    font-size: 85px;
    margin: 0;
    padding: 10px;
  }
}
