@import url("http://fonts.cdnfonts.com/css/minecraft-4");
body {
  background-image: url(assets/minecraft_background.png);
}

.app {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row;
}

#app {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  // height: 100vh;
  background-color: white;
  // overflow: hidden;
  font-family: Minecraft, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-app {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid 1px lightgrey;

  &__setting {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &--ip {
      text-align: center;
      width: 100%;
      margin-left: 64px;
      font-size: 18px;
    }

    &--button {
      margin: 12px 16px;
      width: 32px;
      height: 32px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;

    &--start {
      margin-bottom: 50px;
    }

    &--stop,
    &--start {
      font-family: "Minecraft", sans-serif;
      font-size: 25px;
      background-color: #898c8f;
      width: 200px;
      height: 60px;
    }
  }

  &__timestamp {
    height: 500px;
    width: 90%;
    background-color: lightgrey;
  }
}

.footer {
  margin-top: 10px;
  max-width: 1200px;
  background-color: white;
  text-align: center;
}
