@import url("http://fonts.cdnfonts.com/css/minecraft-4");
.app {
  font-family: "Minecraft", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
